body{
  margin: 0;
  padding: 0;
  font-family: Open Sans, sans-serif;
}
header{
  height: 110px;
  background: #c4d3d5;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  color: #333333;
  font-size: 3em;
}
#main-nav, .nav-wrapper {
  height:53px;
}
nav {
  background: #24292e;
  color: #fff;
  font-size: 1.2em;
  display: flex;
  align-items: center;
}
ul{
  margin: 0 auto;
  padding: 0 10%;
  list-style-type: none;
}
ul li{
  display: inline-block;
  padding: 6px;
  background: rgba(0,0,0,0.4);
  vertical-align: top;
}
.wrapper {
  padding: 30px 10%;
}
p{
  margin: 0 auto;
  font-size: 2em;
}
.fixed-nav{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateZ(0);
}

/*Animation */

/*.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInDown {
  animation-name: fadeInDown;
}*/
